.cover {
  min-height: 472px;
}

.cover__preview {
  width: 100%;
  margin-bottom: var(--space-l);
}

.cover__preview .image {
  height: 180px;
}

.cover__text {
  width: 100%;
}

.cover__footer {
  width: 100%;
}
