.onoffswitch {
  display: flex;
  align-items: center;
  width: 97px;
  height: 32px;
  border: 2px solid var(--background-color-border);
  cursor: pointer;
}

.onoffswitch_checked {
  justify-content: flex-end;
}

.onoffswitch__button {
  width: 24px;
  height: 24px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: var(--background-color-border);
}
