.warning {
  min-height: 335px;
}

.warning .placeholder {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.warning .text {
  width: 100%;
}

.warning__button-wrapper {
  margin-top: 5px;
}
