@mixin element-space-a($element-name, $space) {
  .card__#{$element-name}_space-a_#{$space} {
    padding: var(--space-#{$space});
  }
}

.card {
  position: relative;
}

.card_border_all {
  border: 1px solid var(--background-color-border);
}

.card_view_default {
  background-color: var(--background-color-default);
}

.card__content {
  position: relative;
  display: flex;
}

.card__content_distribute_center {
  justify-content: center;
}

.card__content_vertical-align_center {
  align-items: center;
}

$content-spaces: m, l, xl, xxl, xxxl;

@each $space in $content-spaces {
  @include element-space-a(content, $space);
}

.card__footer {
  position: absolute;
  bottom: 0;
  display: flex;
}

.card__footer_distribute_between {
  justify-content: space-between;
}

.card__footer_distribute_center {
  justify-content: center;
}

.card__footer_distribute_right {
  justify-content: flex-end;
}

.card__footer_vertical-align_center {
  align-items: center;
}

.card__footer_vertical-align_top {
  align-items: flex-start;
}

.card__footer_vertical-align_bottom {
  align-items: flex-end;
}

$footer-spaces: m, l, xl, xxl;

@each $space in $footer-spaces {
  @include element-space-a(footer, $space);
}
