.grid {
  --screen-m: 1024px;
  --gap-half: calc(var(--gap) / 2);
  --gap-two-thirds: calc(2 / 3 * var(--gap));
}

@mixin grid_m-columns($size) {
  .grid_m-columns_#{$size} {
    --column-width: calc(var(--screen-m) / #{$size});
  }
}

@include grid_m-columns(12);
@include grid_m-columns(10);

.grid_col-gap_two-thirds {
  padding-left: var(--gap-two-thirds);
  padding-right: var(--gap-two-thirds);
}

.grid_col-gap_full {
  padding-left: var(--gap);
  padding-right: var(--gap);
}

.grid_col-gap_half {
  padding-left: var(--gap-half);
  padding-right: var(--gap-half);
}

.grid_row-gap_half {
  padding-top: var(--gap-half);
  padding-bottom: var(--gap-half);
}

.grid_row-gap_full {
  padding-top: var(--gap);
  padding-bottom: var(--gap);
}

@mixin fraction_m-col($size) {
  .grid__fraction_m-col_#{$size} {
    width: calc(#{$size} * var(--column-width));
  }
}

$sizes: 2, 3, 4, 5, 8;

@each $size in $sizes {
  @include fraction_m-col($size);
}
