.grid {
  --screen-m: 1024px;
  --gap-half: calc(var(--gap) / 2);
  --gap-two-thirds: calc(2 / 3 * var(--gap));

  display: flex;
  flex-wrap: wrap;
}

@mixin grid_m-columns($size) {
  .grid_m-columns_#{$size} {
    --column-width: calc(var(--screen-m) / #{$size});
  }
}

@include grid_m-columns(12);
@include grid_m-columns(10);

.grid_col-gap_two-thirds .grid__fraction {
  margin-right: var(--gap-two-thirds);
}

.grid_col-gap_full .grid__fraction {
  margin-right: var(--gap);
}

.grid_col-gap_half .grid__fraction {
  margin-right: var(--gap-half);
}

.grid_row-gap_half .grid__fraction {
  margin-bottom: var(--gap-half);
}

.grid_row-gap_full .grid__fraction {
  margin-bottom: var(--gap);
}

.grid_col-gap_two-thirds .grid__fraction:last-child,
.grid_col-gap_full .grid__fraction:last-child,
.grid_col-gap_half .grid__fraction:last-child {
  margin-right: 0;
}

.grid_row-gap_half .grid__fraction:last-child,
.grid_row-gap_full .grid__fraction:last-child {
  margin-bottom: 0;
}

@mixin fraction_m-col($size) {
  .grid__fraction_m-col_#{$size} {
    width: calc(#{$size} * var(--column-width));
  }
}

$sizes: 2, 3, 4, 5, 8;

@each $size in $sizes {
  @include fraction_m-col($size);
}
