.form_border_all {
  border: 3px solid var(--background-color-border);
}

.form_view_default {
  background-color: var(--background-color-default);
}

.form__item {
  display: flex;
}

.form__item_border_bottom {
  border-bottom: 3px solid var(--background-color-border);
}

.form__item_border_bottom:last-child {
  border: none;
}

.form__item_distribute_between {
  justify-content: space-between;
}

.form__item_vertical-align_center {
  align-items: center;
}

@mixin item_indent-b($space) {
  .form__item_indent-b_#{$space} {
    margin-bottom: var(--space-#{$space});
  }
}

@mixin item_space-h($space) {
  .form__item_space-h_#{$space} {
    padding-left: var(--space-#{$space});
    padding-right: var(--space-#{$space});
  }
}

@mixin item_space-v($space) {
  .form__item_space-v_#{$space} {
    padding-top: var(--space-#{$space});
    padding-bottom: var(--space-#{$space});
  }
}

$spaces: xxxs, xxs, s, m, l, xl, xxl, xxxl, xxxxl;

@each $space in $spaces {
  @include item_indent-b($space);
  @include item_space-h($space);
  @include item_space-v($space);
}

.form__label_width_default {
  width: 35%;
}
