@import '../../../helpers/spaces/style';

.layout {
  display: flex;
  flex-direction: column;
}

.layout__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.layout__container_align_center {
  align-self: center;
}

.layout__container_size_s {
  max-width: 920px;
}

.layout__container_size_m {
  max-width: 1280px;
}

@include space-v(layout__container, xxxxl);
@include space-v(layout__container, xxxxxl);
@include indent-b(layout__container, xxl);
@include indent-b(layout__container, xxxxl);
