.footer {
  display: flex;
  justify-content: center;
  padding: var(--space-xxxl) var(--gap);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}
