.header {
  display: flex;
  justify-content: center;
  padding: var(--space-xxxl) var(--gap);
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}

.header__logo {
  width: 179px;
  height: 34px;
  background-color: var(--text-color-primary);
}
