.layout {
  display: flex;
}

.layout__container {
  display: flex;
}

.layout__container_align_center {
  justify-content: center;
}

.layout__container_size_s {
  width: 920px;
}

.layout__container_size_m {
  width: 1280px;
}

@mixin container-space-v($space-v) {
  .layout__container_space-v_#{$space-v} {
    padding-top: var(--space-#{$space-v});
    padding-bottom: var(--space-#{$space-v});
  }
}

@include container-space-v(xxxxl);
@include container-space-v(xxxxxl);

@mixin container-indent-b($indent-b) {
  .layout__container_indent-b_#{$indent-b} {
    margin-bottom: var(--space-#{$indent-b});
  }
}

@include container-indent-b(xxl);
@include container-indent-b(xxxxl);
